<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> M&aacute;s informaci&oacute;n</button>
@*<a class="btn btn-primary" href="@Url.Action("editarDesc","Sub_DesconectivoSubestacion", new { tipoDes = Model.TipoSeccionalizador, codigoDesc = Model.Codigo})"><i class="fa fa-check"></i> M&aacute;s informaci&oacute;n</a>*@
