<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    @Html.Partial("_BackEnd_Header_Top")
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    @Html.Partial("_BackEnd_Header_Menu")
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
