<div class="page-header-menu">
    <div class="container-fluid">
        <!-- BEGIN HEADER SEARCH BOX -->
        @*@Html.Partial("_BackEnd_Header_Menu_Search_Box")*@
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
        @Html.Partial("_BackEnd_Header_Menu_Mega_Menu")
        <!-- END MEGA MENU -->
    </div>
</div>
