<div class="page-header-top">
    <div class="container-fluid">
        <!-- BEGIN LOGO -->
        @Html.Partial("_BackEnd_Header_Top_Logo")
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        @Html.Partial("_BackEnd_Header_Top_Toggler")
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        @Html.Partial("_BackEnd_Header_Top_Navigation_Menu")
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
