<div class="page-logo">
    <a href="~/Views/Home/Index.cshtml">
        <img src="@Url.Content("~/Scripts/assets/pages/img/logo-big-custom2.png")" alt="logo" class="logo-default">

        @* <img src="@Url.Content("~/Scripts/assets/layouts/layout3/img/logo-yellow-orange-custom.png")" alt="logo" class="logo-default">*@
    </a>
</div>
