@section styles {
    <link href="~/Content/plugins/spinkit/css/spinkit.min.css" rel="stylesheet" />
}

<!--Small Bootstrap Modal-->
<!--===================================================-->
<div id="modal-sm-loading" class="modal" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <h4 class="text-center">Cargando...</h4>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Small Bootstrap Modal-->