<div class="copyright"> <b>&copy; ATI - UEB Aplicaciones de Redes - Sancti Sp&iacute;ritus, @DateTime.Now.Year. v.@typeof(Subestaciones.Models.SubestacionesTransmision).Assembly.GetName().Version</b> </div>
