@{
    <tr>
        <td>
            var nombre = "Circuitos_Alta[" + @ViewBag.indice + "].Subestacion";
            var Id_component = "Circuitos_Alta_" + @ViewBag.indicet + "_.Subestacion"
            <input type="hidden" name=nombre id= Id_component />
            @*<input type="text" name="Circuitos_Alta[' + LineasCount + '].Circuito" id="Circuitos_Alta_' + LineasCount + '_.Circuito" />*@
        </td>
        @*<td>
            <input type="text" name="Circuitos_Alta[' + LineasCount + '].Seccionalizador" id="Circuitos_Alta_' + LineasCount + '_.Seccionalizador" />
        </td>*@

    </tr>
}
