@model Subestaciones.Models.TransformadoresSubtransmision


@Html.LabelFor(model => model.Id_Bloque, htmlAttributes: new { @class = "control-label" })
<div class="input-group " id="TA">
    <input type="text" disabled class="form-control" id="bloque">
    <span class="input-group-addon btn blue tooltips" id="bloque" data-original-title="Seleccionar bloque">
        <span class="fa fa-search" href="#basic1" data-toggle="modal"></span>
    </span>
</div>



