@model List<Subestaciones.Models.Clases.Mejoras>

<table id="table_Mejoras" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Mejora</th>
            <th>Preliminar</th>
            <th>Estado</th>
            <th>Presupuesto</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @item.Nombre
                </td>

                <td>
                    @item.Preliminar
                </td>
                <td>
                    @item.EstadoDelProyecto
                </td>

                <td>
                    @item.Presupuesto
                </td>

            </tr>
        }

    </tbody>
</table>
