
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/yn-0' where GrupoConexion='Yn/yn -0'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/yn-0' where GrupoConexion='Yn/yn - 0'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/yn -1' where GrupoConexion='D/yn-1'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/d - 0' where GrupoConexion='D/d-0'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/d - 0' where GrupoConexion='D/d -0'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 1' where GrupoConexion='Yn/d-1'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 1' where GrupoConexion='Yn/d -1'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/yn -11' where GrupoConexion='D/yn-11'
UPDATE TransformadoresSubtransmision set GrupoConexion='YnYn -0/d - 11' where GrupoConexion='YnYn -0/d -11'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/D - 11/d - 0' where GrupoConexion='Yn/D - 11/d -0'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/yn -5' where GrupoConexion='D/yn-5'
UPDATE TransformadoresSubtransmision set GrupoConexion='D/yn -7' where GrupoConexion='D/yn-7'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 5' where GrupoConexion='Yn/d-5'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 5' where GrupoConexion='Yn/d -5'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 7' where GrupoConexion='Yn/d-7'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 7' where GrupoConexion='Yn/d -7'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 11' where GrupoConexion='Yn/d-11'
UPDATE TransformadoresSubtransmision set GrupoConexion='Yn/d - 11' where GrupoConexion='Yn/d -11'
UPDATE TransformadoresSubtransmision set GrupoConexion='YnYn -0/d - 1' where GrupoConexion='YnYn -0/d -1'
UPDATE TransformadoresSubtransmision set GrupoConexion='YN/D - 1/d - 0' where GrupoConexion='YN/D - 1/d -0'

UPDATE TransformadoresTransmision set GrupoConexion='Yn/yn-0' where GrupoConexion='Yn/yn -0'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/yn-0' where GrupoConexion='Yn/yn - 0'
UPDATE TransformadoresTransmision set GrupoConexion='D/yn -1' where GrupoConexion='D/yn-1'
UPDATE TransformadoresTransmision set GrupoConexion='D/d - 0' where GrupoConexion='D/d-0'
UPDATE TransformadoresTransmision set GrupoConexion='D/d - 0' where GrupoConexion='D/d -0'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 1' where GrupoConexion='Yn/d-1'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 1' where GrupoConexion='Yn/d -1'
UPDATE TransformadoresTransmision set GrupoConexion='D/yn -11' where GrupoConexion='D/yn-11'
UPDATE TransformadoresTransmision set GrupoConexion='YnYn -0/d - 11' where GrupoConexion='YnYn -0/d -11'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/D - 11/d - 0' where GrupoConexion='Yn/D - 11/d -0'
UPDATE TransformadoresTransmision set GrupoConexion='D/yn -5' where GrupoConexion='D/yn-5'
UPDATE TransformadoresTransmision set GrupoConexion='D/yn -7' where GrupoConexion='D/yn-7'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 5' where GrupoConexion='Yn/d-5'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 5' where GrupoConexion='Yn/d -5'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 7' where GrupoConexion='Yn/d-7'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 7' where GrupoConexion='Yn/d -7'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 11' where GrupoConexion='Yn/d-11'
UPDATE TransformadoresTransmision set GrupoConexion='Yn/d - 11' where GrupoConexion='Yn/d -11'
UPDATE TransformadoresTransmision set GrupoConexion='YnYn -0/d - 1' where GrupoConexion='YnYn -0/d -1'
UPDATE TransformadoresTransmision set GrupoConexion='YN/D - 1/d - 0' where GrupoConexion='YN/D - 1/d -0'





